
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/User/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/User/assets/css/animate.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="~/User/assets/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/User/assets/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/User/assets/css/owl.carousel.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/User/assets/css/flaticon.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/User/assets/css/odometer.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/User/assets/css/slick.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/User/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/User/assets/css/responsive.css">

    <title>StartP - IT Startups and Digital Services Template</title>

    <link rel="icon" type="image/png" href="~/User/assets/img/favicon.png">
</head>

<body>
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start 404 Error Area -->
    <section class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <div class="notfound-404">
                            <h1>Oops!</h1>
                        </div>
                        <h3>404 - Page not found</h3>
                        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                        <a href="index.html" class="btn btn-primary">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End 404 Error Area -->
    <!-- Jquery Min JS -->
    <script src="~/User/assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="~/User/assets/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="~/User/assets/js/bootstrap.min.js"></script>
    <!-- Meanmenu Min JS -->
    <script src="~/User/assets/js/jquery.meanmenu.min.js"></script>
    <!-- WOW Min JS -->
    <script src="~/User/assets/js/wow.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/User/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Appear Min JS -->
    <script src="~/User/assets/js/jquery.appear.js"></script>
    <!-- Odometer Min JS -->
    <script src="~/User/assets/js/odometer.min.js"></script>
    <!-- Slick Min JS -->
    <script src="~/User/assets/js/slick.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/User/assets/js/owl.carousel.min.js"></script>
    <!-- Feather Icon Min JS -->
    <script src="~/User/assets/js/feather.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="~/User/assets/js/form-validator.min.js"></script>
    <!-- Contact Form Min JS -->
    <script src="~/User/assets/js/contact-form-script.js"></script>
    <!-- StartP Map JS FILE -->
    <script src="~/User/assets/js/startp-map.js"></script>
    <!-- Main JS -->
    <script src="~/User/assets/js/main.js"></script>
</body>
</html>