@model TechnicalGroup.Models.ServiceItems

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/TechnicalGroupAdmin/Views/Shared/_AdminLayout.cshtml";
}

<hr />
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-information"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Servislər bölməsinin bəndləri
                        </h3>
                    </div>
                </div>
                <form asp-action="Create" class="kt-form kt-form--label-right" id="kt_form_1" novalidate="novalidate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="kt-portlet__body">
                        <div class="form-group row ">

                            <div class="col-lg-4">
                                <label class="">Başlıq(AZE):</label>
                                <input asp-for="Title_Az" class="form-control" placeholder="Başlıq Azərbaycan dilində">
                                <span asp-validation-for="Title_Az" class="text-danger"></span>
                            </div>

                            <div class="col-lg-4">
                                <label class="">Başlıq(RUS):</label>
                                <input asp-for="Title_Ru" class="form-control" placeholder="Başlıq rus dilində">
                                <span asp-validation-for="Title_Ru" class="text-danger"></span>
                            </div>

                            <div class="col-lg-4">
                                <label class="">Başlıq(ENG):</label>
                                <input asp-for="Title" class="form-control" placeholder="Başlıq ingilis dilində">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>

                        <div class="form-group row">

                            <div class="col-lg-4">
                                <label class="">Məzmun(AZE):</label>
                                <input asp-for="Content_Az" class="form-control" placeholder="Məzmun Azərbaycan dilində">
                                <span asp-validation-for="Content_Az" class="text-danger"></span>
                            </div>

                            <div class="col-lg-4">
                                <label class="">Məzmun(RUS):</label>
                                <input asp-for="Content_Ru" class="form-control" placeholder="Məzmun rus dilində">
                                <span asp-validation-for="Content_Ru" class="text-danger"></span>
                            </div>

                            <div class="col-lg-4">
                                <label class="">Məzmun(ENG):</label>
                                <input asp-for="Content" class="form-control" placeholder="Məzmun ingilis dilində">
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <button type="submit" class="btn btn-brand">Yarat</button>
                                    <button type="reset" class="btn btn-secondary">Ləğv elə</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>